<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.edu.eafit.an">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LandingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".onevar.OneVarLandingActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".onevar.OneVarChooseMethodActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".onevar.methods.IncrementalSearchActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".onevar.methods.BisectionActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".onevar.methods.FalseRuleActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".onevar.methods.FixedPointActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".onevar.methods.NewtonActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".onevar.methods.SecantActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".onevar.methods.MultipleRootActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".linearsystems.LinearSystemLandingActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".linearsystems.LinearSystemChooseMethodActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".linearsystems.methods.GaussActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".linearsystems.methods.PartialPivotGaussActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".linearsystems.methods.TotalPivotGaussActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".linearsystems.methods.LUGaussActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".linearsystems.methods.LUPivotGaussActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".linearsystems.methods.DirectLUActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".linearsystems.methods.JacobiActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".linearsystems.methods.GaussSeidelActivity"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity android:name=".interpolation.BasedOnESActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".interpolation.InterpolationChooseMethodActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".interpolation.InterpolationLandingActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".interpolation.NewtonPolynomialActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".interpolation.NewtonPolynomialDDActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".interpolation.LagrangePolynomialActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".interpolation.NevillesMethodActivity"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity android:name=".diff.DiffLandingActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".diff.methods.FivePointDiffActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".diff.methods.ThreePointDiffActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".diff.methods.TwoPointActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".linearsystems.ResultsActivity" />
        <activity android:name=".onevar.GraphActivity"></activity>
    </application>

</manifest>