<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.edu.eafit.an">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LandingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".onevar.OneVarLandingActivity" />
        <activity android:name=".onevar.OneVarChooseMethodActivity" />
        <activity android:name=".onevar.methods.IncrementalSearchActivity" />
        <activity android:name=".onevar.methods.BisectionActivity" />
        <activity android:name=".onevar.methods.FalseRuleActivity" />
        <activity android:name=".onevar.methods.FixedPointActivity" />
        <activity android:name=".onevar.methods.NewtonActivity" />
        <activity android:name=".onevar.methods.SecantActivity" />
        <activity android:name=".onevar.methods.MultipleRootActivity" />
        <activity android:name=".linearsystems.LinearSystemLandingActivity" />
        <activity android:name=".linearsystems.LinearSystemChooseMethodActivity" />
        <activity android:name=".linearsystems.methods.GaussActivity" />
        <activity android:name=".linearsystems.methods.PartialPivotGaussActivity" />
        <activity android:name=".linearsystems.methods.TotalPivotGaussActivity" />
        <activity android:name=".linearsystems.methods.LUGaussActivity" />
        <activity android:name=".linearsystems.methods.LUPivotGaussActivity" />
        <activity android:name=".linearsystems.methods.DirectLUActivity" />
        <activity android:name=".linearsystems.methods.JacobiActivity" />
        <activity android:name=".linearsystems.methods.GaussSeidelActivity" />
        <activity android:name=".interpolation.BasedOnESActivity" />
        <activity android:name=".interpolation.InterpolationChooseMethodActivity" />
        <activity android:name=".interpolation.InterpolationLandingActivity" />
        <activity android:name=".interpolation.NewtonPolynomialActivity" />
        <activity android:name=".interpolation.NewtonPolynomialDDActivity" />
        <activity android:name=".interpolation.LagrangePolynomialActivity" />
        <activity android:name=".interpolation.NevillesMethodActivity" />
        <activity android:name=".diff.DiffLandingActivity" />
        <activity android:name=".diff.methods.FivePointDiffActivity" />
        <activity android:name=".diff.methods.ThreePointDiffActivity" />
        <activity android:name=".diff.methods.TwoPointActivity" />
    </application>

</manifest>